{
    background-color: rgb(190, 234, 136);
}
#navbarSupportedContent{
    background-color: rgb(230, 247, 156);
}
.container-fluid{
    background-color:rgb(230, 247, 156);
    
}
#btn-buscar-filme{
    background-color: #000;
    color: #FFF;
    border-color: #FFF;
}
#lista-filmes{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: rgb(190, 234, 136);
    
}

.card{
    width: 18rem;
    margin-left: 3px;
    background-color: #FFF;
}

.card-img-topz {
 height: 400px;
}
/*detalhes*/
.cardDetalhes{
    display:flex;
    justify-content: space-around;
    width: 800px;
    height: 500px;
    margin: 3.5em;
    margin-left: 19rem;
    border: 2px solid rgb(190, 234, 136); 
    border-radius: 10px;
    background-color: rgb(230, 247, 156);
}
.btnDetalhesFilme{
    color: #000;
    background-color:rgb(190, 234, 136);
    border-radius: 10px;
    border-color: rgb(190, 234, 136);

.card-title{
    font-weight: 800;
}

.div-detalhes{
    font-size: 18px;
    font-weight: 600;
    padding: 2px;
    margin-left: 2px;
}

#btnSalvar{
    background-color:rgb(190, 234, 136);
    padding: 12px;
    border: 1px solid rgb(150, 185, 108);
    margin-left: 35%;
}